    <!DOCTYPE html>
    <html>

        <head>
            <title>Active server list</title>
        </head>

        <script type='text/javascript'>
            function reload() {
                setInterval('window.location.reload()', 5000);
            }
        </script>

        <body onload="reload();">

            {% if user.is_authenticated %}
                <a href="logout/">Logout</a><br />
                <a href="edit/">Edit</a>
                <table>
                    {% for list in serverList %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.ip }}</td>
                        <td>{{ list.status }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Login or registration, please</p>
                <a href="register/">Register Here</a>
                <a href="login/">Login</a>
            {% endif %}

            <a href="about/">About</a>

        </body>

    </html>